.App {
  width: 1423px;
  margin: 0 auto;
}

.header {
  /* background-color: #cd1818; */
  padding: 20px;
  font-size: 20px;
  color: white;
}

.nav {
  /* background-color: #252525; */
  /* padding: 10px; */
  font-size: 20px;
  color: white;
}

/* 
.aside {
  background-color: #059862;
  float: left;
  width: 19%;
  margin-top: 10px;
  height: 410px;
  border: 2px none;
  border-radius: 4px;
} */

.section {
  /* background-color: #059862; */
  float: left;
  margin-top: 10px;
  border-radius: 4px;
  width: 1423px;
}

.article {
  /* background-color: hsl(0, 100%, 90%); */
  float: right;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px none;
  border-radius: 4px;
  padding-top: 10px;
}

.footer {
  clear: both;
  background-color: #252525;
  color: white;
  border-radius: 4px;
  height: 200px;
}